@import "variables";

@mixin border($width: 1px, $style: solid, $color: #000) {
	border: $width $style $color;
}

.schedule-page {
	padding: 20px 10px;
}

.schedule-form {
	border-radius: 3px;
	box-shadow: 0 0 2px 0 #000;
	margin: 0 auto 50px;
	max-width: 700px;
	padding: 20px;

	.row {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		.sf-label {
			display: inline-block;
			line-height: $input-height;
			text-transform: capitalize;
		}

		.sf-input {
			float: right;
		}
	}

	.rc-time-picker {
		width: $input-width;

		.rc-time-picker-input {
			color: inherit;
			font-size: 14px;
			height: $input-height;
			padding: $input-padding;
		}
	}

	.dropdown {
		width: $input-width;

		&.open,
		&:active:hover {
			.dropdown-toggle {
				background-color: #fff;
			}
		}
	}

	.dropdown-toggle {
		background-color: #fff;
		border-radius: 6px;
		height: $input-height;
		padding: $input-padding;
		position: relative;
		width: 100%;

		&.disabled {
			&:focus,
			&:active:focus {
				outline: none;
			}
		}

		&::before {
			background-color: #ccc;
			content: '';
			height: 80%;
			position: absolute;
			right: 28px;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
		}

		&::after {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid;
			content: '';
			height: 0;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
		}

		.selected-item {
			text-align: left;
			width: calc(100% - 26px);
		}
	}

	.pull-right {
		.btn:first-child {
			margin-right: 20px;
		}
	}
}

.resource {
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	span {
		display: inline-block;
		margin-right: 5px;
		padding-right: 5px;
		position: relative;

		&:not(:last-child)::after {
			background-color: #000;
			content: '';
			height: 80%;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
		}
	}
}

.rc-time-picker-panel {
	width: $input-width;

	.rc-time-picker-panel-inner {
		width: 100%;

		.rc-time-picker-panel-input-wrap {
			padding: $input-padding;

			.rc-time-picker-panel-input {
				border: none;
				font-size: 14px;
				height: $input-height;
			}
		}

		.rc-time-picker-panel-select {
			width: 50%;
		}
	}
}

.base-title {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.schedule-table {
	padding: 0 20px;

	.st-heading {
		height: 50px;

		.st-title {
			align-items: center;
			display: flex;
			height: 100%;
			padding: 0 2px;
		}

		.st-hours-wrap {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: space-between;
			padding: 15px 15px 15px 2px;

			.st-hour {
				font-weight: bold;
				width: 1px;
			}
		}
	}

	.st-tasks-wrap {
		@include border;
	}

	.st-tasks-row {
		height: 48px;

		.st-row-title {
			@include border;
			align-items: center;
			display: flex;
			height: 100%;
			padding: 0;
		}
	}

	.st-task-list-wrapper {
		@include border;
		background-color: #ddd;
		height: 100%;
		padding: 0 2px;

		.st-task-list {
			height: 100%;
			padding: 2px 0;
			position: relative;
			width: 100%;

			.st-task {
				@include border(2px);
				margin-right: 1px;
				overflow: hidden;
				padding: 9px 0;
				position: absolute;
				text-align: center;

				.base-title {
					color: #fff;
				}

				&.bagging {
					background-color: #c27ba0;
				}

				&.picking {
					background-color: #2b78e4;
				}

				&.merge {
					background-color: #bf9000;
				}

				&.stock-assurance {
					background-color: #666;
				}

				&.decant {
					background-color: #009e0f;
				}

				&.quality-assurance {
					background-color: #134f5c;
				}

				&.loading {
					background-color: #cf2a27;
				}

				&.returning {
					background-color: #f90;
				}
			}
		}
	}

	.separator-row {
		@include border;
		background: url(../images/tote_texture.png) center / contain repeat-x;
		height: 24px;
	}
}
